body {
  width: 100%;
  margin: 0;
  text-align: center;
}

#select-list {
  text-align: left;
}

h2 {
  text-align: center;
}

.box {
  display: inline-block;
  width: 50%;
}

#ok-btn {
  width: 90%;
  padding: 5px;
}

iframe {
  width: 247px;
  height: 350px;
  border: none;
}
